.seccion-1 {
    display: flex;
    min-height: 100vh;
    width: 75%;
    margin: 0 auto;

    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8rem;
}

.titulo h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.titulo p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.titulo a {
    text-decoration: none;
    color: white;
    background-color: #CA6035;
    font-size: small;
    padding: .8rem 1.2rem;
    border-radius: 1rem;
    transition: .3s;
}

.titulo a:hover{
    transform: scale(1.1);
}

.img-sc1 {
    width: 42rem;
    height: auto;
    object-fit: contain;
    margin-bottom: 5rem;
}

.seccion-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 6rem;
    border-top: .1rem solid #6d25082e 
}

.seccion-2 h2 {
    text-align: center;
    padding: 4rem 0 5rem;
    font-size: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    align-items: stretch;
}

.cards-idioma {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1.8rem;
    padding: 2rem;
    border: none;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(68, 68, 68, 0.5);
}

.cards-idioma p{
    padding-top: 2rem;
}

.cards-idioma h3{
    font-size: 1.5rem;
    padding: 0 .8rem 1.5rem;
    text-align: center;
}

.cards-idioma a {
    text-decoration: none;
    color: white;
    background-color: #CA6035;
    margin-top: 1.5rem;
    padding: .5rem .8rem;
    border-radius: .8rem;
    transition: .3s;
}

.cards-idioma a:hover{
    transform: scale(1.1);
}

.img-pais {
    min-width: 14rem;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1.5rem;
}

.seccion-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding: 3rem 5rem;
    margin-bottom: 6rem;
}

.sc3-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.sc3-texto .subtitulo-sc3 {
    font-size: 2.3rem;
} 

.sc3-texto .parrafo-sc3{
    font-size: 1.2rem;
}

.sc3-texto a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: auto;
    font-size: 1rem;
    background-color: #CA6035;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    transition: .3s;
}

.sc3-texto a:hover{
    transform: scale(1.1);
}

.img-sc3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.cards-mas-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.mas-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 1rem;
    gap: .7rem;
    border-radius: 1rem;
}

.mas-info img{
    width: auto;
    height: 2.5rem;
    object-fit: contain;
}

.mas-info p{
    font-size: 1.2rem;
}

@media screen and (max-width: 89rem) {

    .seccion-1{
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;    
    }

    .titulo{
        margin-bottom: 0;
    }

    .img-sc1{
        margin: 0 auto;
        width: 100%;
    }

    .titulo p{
        display: inline-block;
        vertical-align: middle;
    }
    
}


@media screen and (max-width: 64.3rem) {
    
    .seccion-2{
        padding-bottom: 9rem;
    }

    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .card-ingles{
        grid-row: 1;
    }

    .card-chino{
        grid-row: 2;
    }

    .card-aleman{
        grid-row: 3;
    }


}

@media screen and (max-width: 48.8rem) {
    
    .seccion-1{
        width: 85%;
    }

    

    .seccion-3{
        grid-template-columns: 1fr;
        margin: 0;
        padding: 2rem;
    }
}

@media screen and (max-width: 43.625rem){
    
    .img-sc1{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 31rem){

    .titulo h1{
        text-align: center;
        font-size: 1.7rem;
    }

    .titulo a{
        text-align: center;
    }
}

@media screen and (max-width: 23.45rem){
    
    .seccion-2 h2{
        font-size: 1.5rem;
        padding: 1.5rem 0 3rem;
    }

}

@media screen and (max-width: 20.125rem){
    
    .seccion-2 h2{
        font-size: 1.5rem
    }

}
